<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="TestGroup">
      <section name="Monitor" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="key1" value="xxxx1"/>
    <add key="key2" value="xxxx2"/>
  </appSettings>
  <connectionStrings>
    <add name="connectString" connectionString="database=TestDb;data source=.;Integrated Security=true"
      providerName="System.Data.SqlClient" />
    <add name="DataAccess_wang.Properties.Settings.TestDBConnectionString"
      connectionString="Data Source=HEAODEV-LIYW;Initial Catalog=TestDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="connectString" />
  <TestGroup>
    <Monitor>
      <add key="DBConfig" value="connectString"/>
      <add key="test" value="ttt"/>
    </Monitor>
  </TestGroup>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>


